body{
	background-image: url('http://cs-server.usc.edu:45678/hw/hw8/images/bg.jpg');
	background-size: cover;
}

.transparent-bg{
	background-color: rgba(245, 245, 245, 0.4);
}

.bg-color-white{
	background-color: white;
}

.logo-elem{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	max-height: 50px;
}

.logo-elem img{
	max-height: 50px;
}

#current{
	padding: 0;
	height: 450px;
}

#oneweek{
	background-color: #505050;
}

.day-week{
	color: white;
	width: 10%; 
	min-height: 300px; 
	display:inline-block;
}

@media screen and (max-width: 768px){
	#oneweek{
		background-color: rgba(255,255,255,0);
	}
	.day-week{
		display: block;
		width: 80%;
		margin: 0 auto;
		border-radius: 10%;
	}
}

#oneday-table{
	color: white;
	background-color: #337ab7;
}

.min-temp{
	font-size: 30px;
}

.max-temp{
	font-size: 30px;
}

.modal-div{
	display: inline-block;
	width: 32%;
	text-align: center;
}

@media screen and (max-width: 768px){
	.modal-div{
		width: 100%;
		display: block;
	}
}
/* Rewrite nav-tab color */
.nav-tabs>li >a {
	background-color: white;
	color: #337ab7;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #337ab7;
	color: white;
}
/* Belowing are some classes to help align element, such as margin, padding */
.padding-5{
	padding: 5px;
}

.margin-right3{
	margin-right: 3px;
}

.margin-right14{
	margin-right: 14px;
}

#space-search-form{
	width: 60px;
	height: 50px;
}