body{
	background-image: url('http://cs-server.usc.edu:45678/hw/hw8/images/bg.jpg');
	background-size: cover;
}

.div-search{
	background-color: rgba(245, 245, 245, 0.4);
}

.form-logo{
	display:block; 
	float:right;
		width: 20%;
}

.form-logo img{
	max-width: 200px;
	max-height: 50px;
}